.card{
    display: flex;
    flex-direction:column;
    padding: 0;
    border-radius: 1rem;
    box-shadow: .3rem .1rem .6rem #fefefe;
    width:45%;
    min-width: 300px;
    max-width: 400px;
    border:1px solid rgba(206, 206, 206, 0.39) ;
    
    }
 .meta{
    display: flex;
    width: 100%;
    padding: .5rem 1rem;
    flex-direction: column;
 }   

 .card img{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width:100%;
    height: 200px;
 }

 .h{
    text-align : center;
    font-size: 1.5rem;
    font-weight:600;
    line-clamp: 2;
 }
 .descriptions{
    padding: .5rem;
    text-align: justify;
    line-clamp: 5;
    color : #505050;
    width: 100%;
 }
 .info{
    display:flex;
    width: 100%;
    padding: 0 .5rem;
    color: #363636;
 }

 .cta{
    display:flex;
    justify-content:end;
    padding: 1rem 0.5rem;
 }
 .cta a{
    position : relative;
    text-decoration: none;
        width: max-content;
        position: relative;
        display: block;
        padding: 0.5rem;
        background-color: #bdbdbd44;
        color: black;
        font-weight: 500;
        transition : all 330ms linear;
 }

 .cta a:hover{
    background-color: #55555544;
        color: rgb(27, 27, 27);
        
 }